body {
    background-image: url('../img/personalizado-entrenamiento-personalizado-mujer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: end;
    color: #f2f2f2;
  }